{% load static %}
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block 'meta' %}{% endblock  %}">
    <title>{% block 'title' %}{% endblock  %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href=" {% static 'css/carosel.css' %}" rel="stylesheet" />
    <link href=" {% static 'css/cart.css' %}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body class="d-flex flex-column h-100">
    {% include 'partials/_header.html' %}
    {% block 'carosel' %}
    
    {% endblock  %}

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container py-5">
    {% block 'content' %}
      
    {% endblock  %}
  </div>
</main>

{% include 'partials/_footer.html' %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
  </body>
</html>
